<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<header class="header">
    
    <img class="img" src="http://cdn-img.easylogo.cn/gif/51/51700.gif" />

    <div class ="navLink">
    | <a href="@Url.Action("Index", "LandingPage")">Home</a>
    | <a href="@Url.Action("Index", "About")">About</a>
    | <a href="@Url.Action("Index", "Work")">Work</a>
    | <a href="@Url.Action("Index", "Career")">Careers</a>
    | <a href="@Url.Action("Index", "Contact")">Contact</a>
    </div>

</header>

    
<body>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

    <footer class="footer">
        <div class="copyright">
            <span>Copyright 2014 Fake Studio</span>
        </div>
            <div class ="navLink" id="footerLink">
                 | <a href="@Url.Action("Index", "LandingPage")">Home</a>
                 | <a href="@Url.Action("Index", "About")">About</a>
                 | <a href="@Url.Action("Index", "Work")">Work</a>
                 | <a href="@Url.Action("Index", "Career")">Careers</a>
                 | <a href="@Url.Action("Index", "Contact")">Contact</a>
           </div>
    </footer>

</html>
